@if (profile){<div class="profile-card">
    <div class="avatar-name">
        <img [src]="profile.avatarUrl | imgUrl" [alt]="profile.lastName" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
            <span class="subtitle">{{profile.username}}</span>
        </div>
    </div>

    <div class="profile-card__description">{{profile.description}}
    </div>

    <div class="profile-card__tags">
        @for(skill of profile.stack; track skill){
        <div class="skill-tag">{{skill}}</div>
        }

    </div>


    <div class="profile-card__action-btns"><button class="btn">Подписаться</button></div>

</div>}@else {
something wrong
}

<!-- <div *ngIf="profile; else noProfile">
    <div class="profile-card">
        <div class="avatar-name">
            <img src="/assets/imges/220px-Sylvester_Stallone_Cannes_2019.jpg" alt="avatar" class="profile-card__avatar">

            <div class="profile-card__name">
                <strong>{{profile.firstName}}</strong>
                <span>{{profile.username}}</span>
            </div>
        </div>
        <div class="profile-card__description">
            {{profile.description}}
        </div>
        <ul class="profile-card__skills">
            <li *ngFor="let skill of profile.stack">{{ skill }}</li>
        </ul>
        <button class="profile-card__btn">Subscribe</button>
    </div>
</div>

<ng-template #noProfile>
    23434353456464
</ng-template> -->