/* You can add global styles to this file, and also import other style files */
:root {
    --dark-color: black;
    --light-color: white;

}

body {
    background-image: url(/assets/imges/background.jpg);
    background-color: var(--dark-color);
    color: var(--light-color);
}

.h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

.skill-tag {
    padding: 4px 8px;
    background-repeat: 4px;
}

.tt-control-label {
    font-weight: 700;
    font-style: 12px;
    line-height: 16px;
}

.tt-input {
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 20px;
    background: var(--dark-color);
    font-weight: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: serif;
    color: var(--light-color);
}

.btn {
    width: 100%;
    border: none;
    background: #AE7AFF;
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-style: 14px;
    line-height: 24px;
}